* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    border: 2px dashed rebeccapurple;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

main {
    width: 50%;
    background-color: aquamarine;
    font-size: 2rem;
}

p {
    font-size: 2rem;
    width: 40ch;
}
/* rem = root element */
/* vw = viewport width */
/* vw = viewport height */